@tailwind base;
@tailwind components;
@tailwind utilities;

.image-3 {
  background-image: url("/image_3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.image-6 {
  background-image: url("/image_6.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.image-7 {
  background-image: url("/image_7.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.image-8 {
  background-image: url("/image_8.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.course-image {
  background-image: url("/packages/image_10.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 250px;
  height: 180px;
  border-radius: 10px;
}
